3rdparty
bin
lib
build
/inc/
data/
*.so
time-consuming.log

__pycache__

bqtd/bqtd-binance/config/spot/bqtd-binance-10001.yaml
bqtd/bqtd-binance/config/futures/bqtd-binance-10002.yaml
bqtd/bqtd-binance/config/perp/bqtd-binance-10003.yaml
bqtd/bqtd-binance/config/cfutures/bqtd-binance-10004.yaml
bqtd/bqtd-binance/config/cperp/bqtd-binance-10005.yaml

docker/docker-compose-tdgw.yaml

docker/docker-compose-tdgw/docker-compose-tdgw-10001.yaml
docker/docker-compose-tdgw/docker-compose-tdgw-10002.yaml
docker/docker-compose-tdgw/docker-compose-tdgw-10003.yaml
docker/docker-compose-tdgw/docker-compose-tdgw-10004.yaml
docker/docker-compose-tdgw/docker-compose-tdgw-10005.yaml

drogon/
